/* TEMPLATE STYLES */
.back-to-top {
    display: none;
    z-index: 9;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 16px;
    display:none;
    color: #ffffff;
    background-color: #0062ac;
    border-color: #ffffff;
}
label.error {
    color: #E62E31;
    font-size: 13px;
}
::placeholder{
    font-style: italic;
}
main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.navbar {
    background-color: #3b3b3f;
}

footer.page-footer {
    background-color: #3b3b3f;
    margin-top: 2rem;
}

.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}

.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}


.top-nav-collapse {
    background-color: #fff !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #fff !important;
    }
}

@media (max-width: 768px) {
    .display-1 {
        font-size: 4rem;
    }
}

.spacing {
    letter-spacing: 3px;
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px;
    }
}

